
.card{
    margin-bottom: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 110px !important;
}
albumImage {
    height: 200px !important;
    width: 200px !important;
}
.thumbImage {
    height: 150px !important;
    width: 150px !important;
}
.line {
    height: 2px;
    width: 100%;
    background-color: black;
}